.element__trash-button {
    position: absolute;
    right: 15px;
    top: 18px;
    margin: 0;
    width: 18px;
    height: 19px;
    border: 0;
    background: url(../../../images/Trash.svg) no-repeat center;
    transition: .2s linear;
    cursor: pointer;
    z-index: 1;
}

.element__trash-button:hover, .element__trash-button:focus, .element__trash-button:active {
    opacity: .5;
}