.form__button {
    margin-top: 48px;
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    transition: opacity .2s linear;
}

.form__button:hover, .form__button:focus, .form__button:active {
    opacity: .8;
}

@media (min-width: 320px) and (max-width: 767px) {
    .form__button {
        margin-top: 45px;
        width: 238px;
        height: 46px;
    }
}