.profile {
    margin: 0 auto;
    max-width: 880px;
    margin-top: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

@media (max-width: 768px) {
    .profile {
        max-width: 734px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .profile {
        max-width: 282px;
        flex-direction: column;
    }
}