.header {
    margin: 0 auto;
    max-width: 880px;
    margin-top: 45px;
    border-bottom: 1px solid rgb(84, 84, 84, .7);;
    min-height: 74px;
}

@media (max-width: 768px) {
    .header{
        max-width: 734px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .header{
        margin-top: 28px;
        min-height: 56px;
    }
}