.profile__add-button {
    width: 150px;
    height: 50px;
    border: 1px solid #FFFFFF;
    align-self: center;

    background: url(../../../images/plus.svg) no-repeat center;
    cursor: pointer;
    transition: opacity .2s linear;
}

.profile__add-button:hover, .profile__add-button:focus, .profile__add-button:active {
    opacity: .6;
}

@media (min-width: 320px) and (max-width: 767px) {
    .profile__add-button {
        width: 282px;
        margin-top: 36px;
    }
}