.popup__window {
    min-width: 358px;
    min-height: 258px;

    padding: 36px;

    background: #FFFFFF;
    border-radius: 10px;
    position: relative;
    color: #000;
}

@media (min-width: 320px) and (max-width: 767px) {
    .popup__window {
        min-width: 238px;
        min-height: 272px;
        padding: 25px 22px;
    }
}