.popup__close-button-image {
    position: absolute;
    right: -43px;
    top: -36px;

    width: 40px;
    height: 40px;
    border: 0;
    background: url(../../../images/close-bottom.svg) no-repeat center;
    cursor: pointer;
    transition: opacity .2s linear;
}

.popup__close-button-image:hover, .popup__close-button-image:focus, .popup__close-button-image:active {
    opacity: .6;
}

@media (min-width: 320px) and (max-width: 767px) {
    .popup__close-button-image {
        right: 0;
        top: -55px;

        width: 26px;
        height: 26px;
    }
}